@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    height: 14vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: min(100vw - 40.0rem);
    display: flex;
    justify-content: space-between;
}

.header-content img {
    width: 5.0rem;
}

.header-content nav {
    display: flex;
    justify-content: center;
}

.header-content nav a {
    color: #000 ;

    margin: 1.0rem;

    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(100vw - 40.0rem);
    height: 86vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-content {
    width: 35vw;
    height: 40vh;
}

.container-content h1 {
    color: #000;
    
    font-size: 4.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.container-content h2 {
    font-size: 4.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.container-content p {
    color: #21243D;
    margin-top: 2.4rem;

    font-size: 1.8rem;
    font-family: 'Heebo', sans-serif;
}

.avatar img {
    width: 25.5rem;
}

/* Second Container */

.cards-container {
    width: min(100vw - 40.0rem);
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.card-container-header {
    padding: 3.2rem;
    width: min(100vw - 40.0rem);
    align-self: center;

    display: flex;
    justify-content: space-between;
}

.card-container-header h2{
    font-size: 2.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.card-container-header a {
    color: #00A8CC;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.cards-block {
    width: min(100vw - 40.0rem);
    padding: 3.2rem;
}