@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    height: 14vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: min(100vw - 40.0rem);
    display: flex;
    justify-content: space-between;
}

.header-content img {
    width: 5.0rem;
}

.header-content nav {
    display: flex;
    justify-content: center;
}

.header-content nav a {
    color: #000 ;

    margin: 1.0rem;

    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(100vw - 40.0rem);
    height: 86vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-content {
    width: 35vw;
    height: 40vh;
}

.container-content h1 {
    color: #000;
    
    font-size: 4.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.container-content h2 {
    font-size: 4.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.container-content p {
    color: #21243D;
    margin-top: 2.4rem;

    font-size: 1.8rem;
    font-family: 'Heebo', sans-serif;
}

.avatar img {
    width: 25.5rem;
}

/* Second Container */

.cards-container {
    width: min(100vw - 40.0rem);
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.card-container-header {
    width: min(100vw - 40.0rem);
    margin-bottom: 3.2rem;
    display: flex;
    justify-content: space-around;
}

.card-container-h2 {
    width: 35vw;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-container-link {
    width: 25.5rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-container-h2 h2{
    font-size: 2.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.card-container-link a {
    color: #00A8CC;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.cards-block {
    width: min(100vw - 40.0rem);
    padding: 3.2rem;
    
    display: flex;
    justify-content: space-around;
}

.card {
    /* background-color: #f0f0f0; */
    width: 30vw;
    height: 40vh;
    margin: 3.2rem;
    padding: 1.6rem;
    border-radius: 0.7rem;
    box-shadow: 5px 5px 10px #00000036;
}

.card h3 {
    color: #0A2A42;
    margin-bottom: 1.6rem;
    font-size: 2.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.card span {
    color: #636B78;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.card p {
    color: #000;
    margin-top: 2.4rem;
    font-size: 1.8rem;
    font-family: 'Heebo', sans-serif;
}

.extended-card-block {
    width: min(100vw - 40.0rem);

    display: flex;
    justify-content: center;
}

.extended-card {
    width: 61vw;
    height: 30vh;
    padding: 1.6rem;
    border-radius: 0.7rem;
    box-shadow: 5px 5px 10px #00000036;

    display: flex;
}

.extended-card-content h3{
    color: #0A2A42;
    margin-bottom: 1.6rem;
    font-size: 2.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.extended-card-content span {
    color: #636B78;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.extended-card-content p {
    color: #000;
    margin-top: 2.4rem;
    font-size: 1.8rem;
    font-family: 'Heebo', sans-serif;
}

.left-background {
    background-image: url("/assets/images/undraw_portfolio_website_re_jsdd.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 60vw;
    margin: 1.6rem;
    padding: 1.6rem;
}